# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
*.o
.vscode

#Binaries folder
bin/

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/


# Typescript ignores
**/ts/*-debug.log
**/ts/*-error.log
**/ts/.nyc_output
**/ts/dist
**/ts/lib
**/ts/package-lock.json
**/ts/tmp
**/ts/node_modules
